/* Fonts */

@font-face {
    font-family: Lexend;
    src: url('../fonts/Lexend-VariableFont_wght.ttf');
}

@font-face {
    font-family: Lexend-Medium;
    src: url('../fonts/Lexend-Medium.ttf');
}

@font-face {
    font-family: Lexend-Deca;
    src: url('../fonts/LexendDeca-Regular.ttf');
}

html {
    font-family: Lexend;
}

/* General Spacing */

.max-w-7xl {
    max-width: 1600px
}

.max-w-prose{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.max-w-full{
    max-width: 1600px;
    margin-left: 0;
    margin-right: 0;
}

.max-w-fit{
    max-width: inherit;
}

.w-card {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.center-vid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    margin:0
}

/* iFrame Scaling (itch, youtube) */

.iframe-wrapper {
    position: relative;
    width: 100%;
    max-width: 552px;
    max-height: 167px;
    min-height: 167px;
    padding-top: 30%;
    overflow: hidden;
    margin: auto;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Hero Image */

.hero-img {
    max-width: auto;
    max-height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Hero (Header) Information */

.hero-info {
    display: flex;
    background-color: #ffffff0d;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 2px solid #007bd3;
    border-bottom: 2px solid #007bd3;
    box-sizing: inherit;
}

.center,
.center-align {
    text-align: center;
}

.hero-info-container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 1280px;
}

.hero-info-container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.row .col.s6 {
    width: 50%;
    margin-left: 0;
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.75rem;
}

.hero-info-title {
    font-weight: 700;
    color: #ffffff;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hero-info-detail {
    font-weight: 500;
    color: #afafaf;
    font-size: 1.1rem;
}

.tag-container-center {
    justify-content: center;
    align-items: center;
}

/* Other Grids */

.devicon-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-width: 48em;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.devicon-container div {
    display: flex;
    align-items: center;
    /* This looks pretty good actually*/
    /* flex-direction: column; */ 
    font-size: 30px;
    text-align: left;
    max-height: 100px;
    width: 400px;
    padding-bottom: 10px;
}


/* Columns */
/*
    TODO Look at article references for styling of columns. 
    Could update columns shortcode to this... so I dont have to deal with divs and stuff
    Max is currently 1344, but I'm assuming its 1200px rn 
    Although this means stuff isnt centered after I removed Article shirnking (single.html)
*/

/* Middle Split */

.article-col{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.article-col .left{
    float: left;
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.article-col .right {
    float: right;
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* Smaller Left Side */

.article-col-sm-l {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.article-col-sm-l .left {
    float: left;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.article-col-sm-l .right {
    float: right;
    width: 100%;
    max-width: 800px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}